<!DOCTYPE html>
<html>
    <head>
        <title>CodeSandbox Starter</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <style>
        .home-container {
            width: 100%;
            display: flex;
            overflow: auto;
            align-items: center;
            flex-direction: column;
        }
        .home-text {
            font-size: 3rem;
            max-width: 600px;
            align-self: center;
            font-family: sans-serif;
        }
        .nav-main {
            align-self: start;
        }
        .nav-main li {
            list-style: none;
        }
        </style>
    </head>
    <body>
        <div class="home-container">
            <h1 class="home-text">Hello from CodeSandbox!</h1>
            <nav class="nav-main">
                <li>
                    <a href="/articles">Articles</a>
                </li>
            </nav>
        </div>
    </body>
</html>